.mastercraft {
    display: flow-root;
    @extend %section;
    
    &__logo {
        display: block;
        margin: 0 auto;
        margin-top: -1.875rem;
    }

    &__container {
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-weight: 700;
    }

    &__buttons-container {
        @include vertical-align(space-between, center);
        min-height: 8rem;
        margin-top: 2rem;
        margin-bottom: 2.5rem;

        @media screen and (min-width: $mobile-size) {
            @include horizontal-align(space-between, center);
            min-height: auto;
        }
    }

    .bookmark {
        @media screen and (min-width: $tablet-size) {
            display: none;
        }

        &--desktop {
            display: none;

            @media screen and (min-width: $tablet-size) {
                @include horizontal-align();
                border-radius: 2em;
                background-color: $light-gray;
                
                p {
                    margin: 0;
                    padding: 1em 1.5em;
                    color: #000;
                    font-weight: bold;
                    opacity: 0.7;
                }
            }
        }
    }
}