.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to bottom, $overlay 40%, transparent 100%);
    overflow: hidden;
    transition: height 100ms ease-out;

    &__header {
        @include horizontal-align(space-between, center);
        width: 85%;
        margin: 2rem auto;
    }

    &__links {
        width: 85%;
        margin: 2rem auto;
        background-color: #FFF;
        border-radius: 8px;
    }

    &__ul {
        display: flow-root;
        width: 85%;
        margin: 0 auto;
    }

    &__item {
        margin: 1.75rem auto;
    }

    &__link {
        font-weight: bold;
        color: #000;
    }

    &--show {
        height: 40rem;
    }
}